.add-cart-btn{
    border: 0;
    background-color: rgba(165,42,42,.26);
    font-size: 18px;
    height: 40px;
    border-radius: 0 0 3px 3px;
}
.add-cart-btn:hover{
    background-color: rgba(255, 108, 71, 0.37);
}

.add-cart-btn span{
    margin-right: 10px;
}